<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Company Page</title>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>MatchMakerAbroad</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">

            <a class="nav-link" href="/companydashboard">Dashboard</a>
            <a class="nav-link" href="">My job posts</a>
            
          </div>

        </div>

        <div>
          <a class="btn btn-outline-danger" href={{url_for('logout')}} type="submit">Logout</a>
        </div>
        
        </div>
      </div>
    </nav>
    
  </head>
  <body> 

  <div class="container">
      {% with messages = get_flashed_messages()%}
            {% if messages%}
              <div class="alert alert-primary d-flex align-items-center" role="alert" >
                <div class="flex-grow-1">
                {% for message in messages %}
                {{ message}}
                {% endfor%} </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif%}
        {% endwith%}
  </div>
    
    
    <div class="container">
      <h2>Company Dashboard</h2><br>
      <h3>Find your Perfect Partner</h3>
    </div>


    <div class="container mt-4" style="width: 700px">
      <form method="POST" action="/companydashboard" >

        <div class="form-group">
          <label for="compname"><h5>Name of the Organization</h5></label>
          <input type="text" name="compname" class="form-control" id="compname"  placeholder="Enter Company name here" required>
        </div>

      <div class="form-group mt-4">
        <label for="location"><h5>Location</h5></label>
        <input type="text" name="location" class="form-control" id="location"  placeholder="Enter country or postal code of job" required>
      </div>
      
    
      <div class="form-check mt-4">
       <h4> Sector</h4> 
      <input class="form-check-input"type="radio" name="sector" id="sector1" value="IT">
      <label class="form-check-label" for="sector1">IT</label>
      </div>
      <div class="form-check">
      <input class="form-check-input"type="radio" name="sector" id="sector2" value="Business">
      <label class="form-check-label" for="sector2">Business</label>
      </div>
      <div class="form-check">
      <input class="form-check-input"type="radio" name="sector" id="sector3" value="Healthcare">
      <label class="form-check-label" for="sector3">Healthcare</label> 
      </div>
      <div class="form-check">
      <input class="form-check-input"type="radio" name="sector" id="sector4" value="Other">
      <label class="form-check-label" for="sector4">Other</label> 
      </div>
      

    
      <div class="form-check mt-4" >
        <h4> Service Period</h4> 
       <input class="form-check-input"type="radio" name="service_period" id="service1" value="12 Months" required>
       <label class="form-check-label" for="service1">12 Months</label>
       </div>
       <div class="form-check">
       <input class="form-check-input"type="radio" name="service_period" id="service2" value="6 Months">
       <label class="form-check-label" for="service2">6 Months</label>
       </div>
       <div class="form-check">
       <input class="form-check-input"type="radio" name="service_period" id="service3" value="3 Months">
       <label class="form-check-label" for="service3">3 Months</label> 
       </div>
       <div class="form-check">
        <input class="form-check-input"type="radio" name="service_period" id="service4" value="1 Month or less">
        <label class="form-check-label" for="service4">1 Month or less</label> 
        </div>
      
    
    
      
       <div class="form-check mt-4" >
        <h4>Category</h4> 
       <input class="form-check-input"type="radio" name="category" id="category1" value="Full time">
       <label class="form-check-label" for="category1">Full time</label>
       </div>
       <div class="form-check">
       <input class="form-check-input"type="radio" name="category" id="category2" value="Part Time">
       <label class="form-check-label" for="category2">Part Time</label>
       </div>
      
       <div class="form-input mt-3">
        <label for="job_description"><h5>Job Description</h5></label>
        <textarea name="job_description" id="job_description" cols="30" rows="10" style="width: 650px; height:100px"></textarea>
      </div>
    
       <div class="container mt-4">
        <div class="row">
          <div class="col-sm">
            
            <!--anchor tag should go in somewhere here or use javascript-->
          </div>
          <div class="col-sm">
            
          </div>
          <div class="col-sm">
            
          </div>
          <div class="col-sm">
            
          </div>
          <div class="col-sm">
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </div>
      </div>
       <div class="btn mt-4">
        
       </div>
    
    
    
    
    
      </form>
    
    </div> 
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
  </body>
</html>