{%extends 'base.html'%}

{%block content%}

<div class="container">
    {% with messages = get_flashed_messages()%}
          {% if messages%}
            <div class="alert alert-primary d-flex align-items-center" role="alert" >
              <div class="flex-grow-1">
              {% for message in messages %}
              {{ message}}
              {% endfor%} </div>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif%}
        {% endwith%}
</div>

<div class="container w-50">
<form method="POST">
    <div class="class" style="border: 1px solid lightgray; padding:20px; margin-top :10px">
    {{form.hidden_tag()}}
    <fieldset>
        <legend class=" my-2" ><strong>Matchmaker</strong>  User Login</legend>
        

        <div class="form-group mb-3">
            {{form.email.label(class="form-control-label")}}
            {%if form.email.errors%}
            {{form.email(class="form-control form-control-lg-invalid")}}
            {%for error in form.email.errors%}
            <span>{{error}}</span>
            {%endfor%}
            {%else%}
            {{form.email(class="form-control form-control-lg")}}
            {%endif%}
            
        </div>

        <div class="form-group mb-3">
            {{form.password.label(class="form-control-label")}}
            {%if form.password.errors%}
            {{form.password(class="form-control form-control-lg-invalid")}}
            {%for error in form.password.errors%}
            <span>{{error}}</span>
            {%endfor%}
            {%else%}
            {{form.password(class="form-control form-control-lg")}}
            {%endif%}
            
        </div>

        
    </fieldset>
<div class="form-group">
    {{form.submit(class="btn btn-primary")}}
    
</div> <br>
<div class="class">New User? Signup
    <a href="{{url_for('payment')}}" class="" style="text-decoration: none;">here</a>
</div>
 
<div class="class my-3">
    <a href="" class="" style="text-decoration: none;">Forgot Password</a>
</div>

</div>
</form>
</div>

<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
    }
  
    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 20px;
    }
  
    .dashboard-heading {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
  
    .sub-heading {
      text-align: center;
      color: #666;
      margin-bottom: 40px;
    }
  
    .dashboard-container {
      width: 600px;
      margin: 0 auto;
    }
  
    .form-container {
      margin-top: 40px;
    }
  
    .form-heading {
      font-size: 18px;
      color: #333;
      margin-bottom: 10px;
    }
  
    .form-group {
      margin-bottom: 20px;
    }
  
    .upload-button {
      display: block;
      width: 100%;
    }
  
    .navigation-container {
      margin-top: 40px;
    }
  
    .btn-primary {
      display: block;
      width: 15%;
    }
  </style>
{%endblock content%}